.gamePage{
  display: flex;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: #f8f8ff;
}
.left-bar{
  width: 20%;
  border-radius: 10px 0 0 10px;
  background-color: #457b9d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.score-board{
  border-radius: 10px;
  width: 100%;
  height: 85%;
}
.score-heading{
  display: flex;
  border-radius: 10px 0 0 0;
  color: black;
  font-family: Helvetica;
  font-weight: 600;
  justify-content: center;
  padding: 17px;
}

.scores{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 10px;
  color: white;
}
.scores p{
  padding: 5px 0 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1faee;
}
.game-bar{
  display: flex;
  flex-direction: column;
  padding: 5px 20px 20px 20px;
}
.game-header{
  display: flex;
  justify-content: space-between;
  color: #1d3557;
  font-family: Helvetica;
}
.card {
  display: flex;
  font-size: 20px;
  justify-content: baseline;
}
.card img {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.game-bar{
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.main-game{
  padding: 0px 50px 110px 50px;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #457b9d;
  margin: 10px;
}
.game-word p {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: #457b9d;
}
.input-word input[type="text"] {
  font-size: 25px;
  padding: 5px 0 5px 10px;
  opacity: 0.8;
  border-radius: 10px;
  border: 2px solid #1d3557;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
  background-color: transparent;
  color: #1d3557;
}
.stop-game{
  margin: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  background-color: #e63946;
  border: none;
  border-radius: 10px;
  justify-content: center;
  margin-top: 15px;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  color: #f1faee;
  font-family: Helvetica;
}

.stop-game:hover{
  border-radius: 0px;
  transform: scale(1.05);
  transition: 0.2s;
}
.stop-game:active{
  border-radius: 0px;
  transform: scale(1.1);
  transition: 0.2s;
}
@media (max-width: 768px){
  .card {
      font-size: 15px;
  }
  .stop-game{
      font-size: 15px;
  }
  .stop-game img {
      width: 30px;
      height: 30px;
  }
  .left-bar{
      width: 30%;
  }
  .score-board{
      font-size: 10px;
      padding: 10px 2px 10px 2px;
  }
  .game-word p {
      font-size: 40px;
  }
  .input-word input[type="text"] {
      font-size: 15px;
  }
  .base-timer {
      margin-top: 50px;
      position: relative;
      height: 100px;
      width: 100px;
  }
  .base-timer__path-elapsed {
      stroke-width: 5px;
  }
  .base-timer__label {
      height: 100px;
      width: 100px;
      font-size: 30px;
  }
  .scores{
      font-size: 10px;
  }
}